@model jukbook.Models.Broon

@{
}


<p class="error">@ViewBag.ConcurrencyErrorMessage</p>

<h3>Kas tahate kustuda broneeringuid?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayFor(model => model.Teenus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kellaeg)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.BroonId)

        <div class="form-actions no-color">
            <input type="submit" value="Kustuda" class="btn btn-primary" /> |
            @Html.ActionLink("Tagasi", "UserBron")
        </div>
    }
</div>
